.error
{
	margin-bottom:10px; 
	background-image:url(../images/message_error.gif); 
	width:100%;
	color:#FFFFFF;
	text-align:center;
}

#ajax_listOfOptions
{
	position:absolute;
	width:550px;
	overflow:auto;
	border:1px solid #065CA5;
	background-color:#FFF;
	max-height:300px;
	text-align:left;
	z-index:100;
}

#ajax_listOfOptions div
{
	margin:1px;		
	padding:3px 1px 0 0 ;
	cursor:pointer;
	height:20px;
}

#ajax_listOfOptions div .div1
{
	position:relative;
	float:left;
	width:200px;
	overflow:hidden;
	height:18px;
}

#ajax_listOfOptions div .div2
{
	position:relative;
	float:left;
	width:200px;
	overflow:hidden;
	height:18px;
}

#ajax_listOfOptions div .div3
{
	position:relative;
	width:120px;
	overflow:hidden;
	height:18px;
}

#ajax_listOfOptions .optionDiv
{

}

#ajax_listOfOptions .optionDivSelected
{
	background-color:#6C0;
	color:#000000;
}

#ajax_listOfOptions_iframe
{
	background-color:#F00;
	position:absolute;
	z-index:5;
}

h2
{
	font-size:16px;	
}

.messages
{
	margin-bottom:10px; 
	background-image:url(../images/message_good.gif); 
	width:100%;
	color:#666666;
	text-align:center;
}

.errormes
{
	color:#FFFFFF;
	text-align:center;
}

.mod_div
{
	position:relative;
	max-height:505px;
	overflow:auto;
	width:auto;
	border-bottom:1px solid #0159A4;
	border-top:1px solid #0159A4;
}

/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer {
	clear: both;
	border: 1px solid #963;
	height: 285px;
	overflow: auto;
	width: 756px
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.tableContainer {
	overflow: hidden;
	width: 756px
}

/* define width of table. IE browsers only                 */
div.tableContainer table {
	float: left;
	width: 740px
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.tableContainer table {
	width: 756px
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
	position: relative
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
	display: block
}

/* make the TH elements pretty */
thead.fixedHeader th {
	background: #C96;
	border-left: 1px solid #EB8;
	border-right: 1px solid #B74;
	border-top: 1px solid #EB8;
	font-weight: normal;
	padding: 4px 3px;
	text-align: left
}

/* make the A elements pretty. makes for nice clickable headers                */
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 100%
}

/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
thead.fixedHeader a:hover {
	color: #FFF;
	display: block;
	text-decoration: underline;
	width: 100%
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
	display: block;
	height: 262px;
	overflow: auto;
	width: 100%
}

/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             */
tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	background: #FFF;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}

tbody.scrollContent tr.alternateRow td {
	background: #EEE;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}

/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body thead.fixedHeader th {
	width: 200px
}

html>body thead.fixedHeader th + th {
	width: 240px
}

html>body thead.fixedHeader th + th + th {
	width: 316px
}

/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body tbody.scrollContent td {
	width: 200px
}

html>body tbody.scrollContent td + td {
	width: 240px
}

html>body tbody.scrollContent td + td + td {
	width: 300px
}
-->

.mod_table th
{
	font-size:12px;
	font-weight:bold;
	height:30px;
	padding-left: 10px;
	text-align:left;
}

.mod_table td
{
	font-size:12px;
	padding-left: 10px;
	text-align:left;
	height:27px;
}

.mod_table td a
{
}

.mod_table2 th
{
	font-size:12px;
	font-weight:bold;
	height:30px;
	text-align:left;
	border-bottom:1px solid #0159A4;
}
.mod_table2 td
{
	font-size:12px;
	height:28px;
	text-align:left;
}

/* odd table rows 1,3,5,7,... */
table tr.odd th,
table tr.odd,
table tr.even th,
table tr.even {
    text-align:  left;
}

/* marked table rows */
table tr.marked th,
table tr.marked {
    background: #50AFFE;
}

/* hovered items */
.odd {
    color: #000000;
}

.odd a {
    color: #000000;
}

.odd1, .odd1 > td {
    background:#C8FF91 !important;
    color: #000000 !important;
}

.odd2, .odd2 > td {
    background: #FF9393 !important;
    color: #000000 !important;
}

.odd1 a, .odd1 > td a {
    color: #000000 !important;
}

.odd2 a, .odd2 > td a {
    color: #000000 !important;
}


/* hovered items */
.odd:hover,
.odd1:hover, .odd1:hover > td,
.odd2:hover, .odd2:hover > td,
.even:hover,
.hover {
    background: #50AFFE !important;
    color: #FFFFFF !important;
}

/* hovered table rows */
table tr.odd:hover th,
table tr.even:hover th,
table tr.hover th {
    background:   #50AFFE;
    color:   #FFFFFF;
}


table.table{ position:relative; width:100%; border:1px solid #ccc; }
table.table thead th{ font-size:14px; font-weight:bold; padding:10px 0px 10px 10px; text-align:left; border:1px solid #1B6FAB; background:#1B6FAB; color:#fff; }
table.table tbody tr > td{ padding:7px 0px 7px 10px; background:#fefefe; font-size:12px; text-align:left; border-bottom:1px solid #D8D8D8; }
table.table tbody tr > td a{ color:#333 !important; text-decoration:none; }
table.table tbody tr:hover > td{ background:#f5f5f5; color:#333; }
table.table tbody tr > td.right{ text-align:right; padding-right:10px; }
table.table tbody tr > td.icon{ text-align:center; }
table.table tbody tr > td.icon-left{ padding:0px; margin:0px; border-right:1px solid #D8D8D8; background:url(../images/bg_delete.jpg); text-align:center; }
table.table tbody tr > td.noresults{ font-style:italic; font-size:10px; }

table.table.no-lines{ position:relative; width:100%; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border:none; }
table.table.no-lines thead th{ padding:7px 0px 7px 10px; text-align:left; border-right:none; border-bottom:none; }
table.table.no-lines tbody tr > td{ padding:7px 0px 7px 10px; text-align:left; border-bottom:none; }
table.table.no-lines tbody tr > td.right{ text-align:right; padding-right:10px; }
table.table.no-lines tbody tr:hover > td{ background:none; }
table.table.no-lines tbody tr > td span.spans{ position:relative; float:left; padding:2px 10px 0 5px; }

table.table.table-tab{ position:relative; width:100%; }
table.table.table-tab thead th{ font-size:14px; font-weight:bold; padding:5px 0px 5px 10px; text-align:left; border:none; border-right:none; background:#fff; color:#FF7900; }
table.table.table-tab tbody tr > td{ padding:7px 0px 7px 10px; background:#fefefe; font-size:12px; text-align:left; border-bottom:1px solid #D8D8D8; }
table.table.table-tab tbody tr > td a{ color:#808080; }
table.table.table-tab tbody tr:hover > td{ background:#f5f5f5; }
table.table.table-tab tbody tr > td.right{ text-align:right; padding-right:10px; }
table.table.table-tab tbody tr > td.icon{ text-align:center; }
table.table.table-tab tbody tr > td.icon-left{ padding:0px; margin:0px; border-right:1px solid #D8D8D8; background:url(../images/bg_delete.jpg); text-align:center; }
table.table.table-tab tbody tr > td.noresults{ font-style:italic; font-size:10px; }


.modalDialog_transparentDivs
{	
	/*filter:alpha(opacity=40);*/
	opacity:0.4;
	background-color:#000000;
	z-index:90000;
	position:absolute;
}

.modalDialog_contentDiv
{
	padding:0px;
	z-index:90001;
	position:absolute;
}
.modalDialog_contentDiv:before{
	/*position:absolute; right:40px; top:15px; z-index:343454; content:"Verplaats"; cursor: move; font-style: italic;*/
}

.modalDialog_contentDiv .beforeDiv{
	position:absolute; right:40px; top:15px; z-index:343454; content:"Verplaats"; cursor: move; font-style: italic;
}

.modalDialog_contentDiv_shadow
{
	z-index:90001;
	position:absolute;
	/*filter:alpha(opacity=30);*/
	opacity:0.3;
}

.control_icon
{
	right:0px; top:0px;
	padding:5px 5px 2px 5px;
	border: 1px solid #CCCCCC;
	margin:5px;
	background-color: #FFFFFF;
	visibility:hidden;
	position:absolute;
	/*filter:alpha(opacity=80);*/
	/*-moz-opacity: 0.80;*/
	opacity: 0.80;
}

.control_icon a
{
	text-decoration:none;
}

.content_hide
{
	position: relative;
	background-color: #E1F0FF;
	width:100%;
}

.content_box
{
	position: relative;
}

#hintbox
{
	position:absolute;
	top: 0;
	text-align:center;
	background-color: white;
	width: 150px;
	padding: 3px;
	border:1px solid #E2E2E2;
	font:normal 11px Verdana;
	line-height:18px;
	z-index:100;
	visibility: hidden;
}

.langmenu
{
	padding: 3px 0;
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0;
	list-style-type: none;
	text-align: left;
}

.langmenu li
{
	display:inline;
	position: relative;
}

.langmenu li a
{
	text-decoration: none;
	position: relative;
	font-size:10px;
	padding: 8px 25px 8px 9px;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor:pointer;
	margin-left:1px;
	border-left: 1px solid #666666;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	color:#666666;
	background-position:right;
	background-repeat:no-repeat;
	background-image: url(../images/pijl.png);
}

.langmenu li a:active
{
	text-decoration: none;
	color: #ffffff;
	background-color:#666666;
}

.langmenu li a:hover
{	
	text-decoration: none;
	color: #ffffff;
	background-color:#666666;
}

.langmenu li a.selected
{
	position: relative;
}

.langmenu li a.selected
{
	border-bottom-color: white;
	color: #2d2b2b;
}

.langmenu li a.selected:hover
{
	text-decoration: none;
}

.selectmenu
{
	padding: 3px 0;
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0;
	list-style-type: none;
	text-align: left;
}

.selectmenu .menublock
{
	position:relative;
	height:40px;
	padding:0px;
	border:none;
}

.selectmenu li
{
	position: relative;
}

.selectmenu li a
{
	text-decoration: none;
	position: relative;
	display:block;
	font-size:10px;
	padding: 6px 9px;
	margin-bottom: 5px;
	cursor:pointer;
	width:500px;
	margin-left:1px;
	border-left: 1px solid #666666;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	color: #ffffff;
	background-color:#666666;
	background-position:right;
	background-repeat:no-repeat;
	background-image: url(../images/pijl.png);
}

.selectmenu li div
{
	border-left: 1px solid #666666;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	margin-left:1px;
	width:508px;
	position: relative;
	display:block;
	padding: 5px;
	margin-bottom: 5px;
}

.selectmenu li a:active
{
	text-decoration: none;
	color: #cccccc;
	background-color:#666666;
}

.selectmenu li a:hover
{	
	text-decoration: none;
	color: #CCCCCC;
	background-color:#666666;
}

.selectmenu li a.selected
{
	position: relative;
}

.selectmenu li a.selected
{
	border-bottom-color: white;
	color: #2d2b2b;
}

.selectmenu li a.selected:hover
{
	text-decoration: none;
}

.myfilesitem
{ 
	float: left;
	border: 1px solid #ccc;
	margin: 2px;
	position: relative;
}

.myfilesitem a
{
	display: table-cell !important;
	display: block;
	width: 80px; height: 80px;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: black;
	line-height: 90px;
}

.myfilesitem a:hover
{
	display: table-cell !important;
	display: block;
	width: 80px; height: 80px;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #333333;
	background-color:#E1E1E1;

	line-height: 90px;
}

/*.myfilesitem a:selected,*/ .myfilesitem a:active
{
	display: table-cell !important;
	display: block;
	width: 80px; height: 80px;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #333333;
	background-color:#CCCCCC;
	line-height: 90px;
}

.myfilesitem img
{ 
	display: inline;
	/*margin-top: expression(( 80 - this.height ) / 2);*/
}

.myfilesitem span 
{
	line-height: 100%;
	clear:both;
	max-height:15px;
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2px 0;
	background-color: #eee;
	overflow: hidden;
}

.myfilesitem .select 
{
	position: absolute;
	z-index:5;
	top: 2px;
	left: 2px;
}

.moreitem
{ 
	float: left;
	border: 1px solid #ccc;
	margin: 2px;
	position: relative;
}

.moreitem a
{
	display: table-cell !important;
	display: block;
	width: 113px; height: 113px;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: black;
	line-height: 90px;
}

.moreitem a:hover
{
	display: table-cell !important;
	display: block;
	width: 113px; height: 113px;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #333333;
	background-color:#E1E1E1;

	line-height: 90px;
}

.moreitem a:active
{
	display: table-cell !important;
	display: block;
	width: 80px; height: 80px;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: #333333;
	background-color:#CCCCCC;
	line-height: 90px;
}

.moreitem img
{ 
	display: inline;
}

.moreitem span 
{
	line-height: 100%;
	clear:both;
	max-height:15px;
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2px 0;
	background-color: #eee;
	overflow: hidden;
}

.moreitem .select 
{
	position: absolute;
	z-index:5;
	top: 2px;
	left: 2px;
}

.filebox
{
	position:relative;
	display:inline-table;
	width:100%;
}